body {
	font-family: Arial, Helvetica, sans-serif;
}
main {
	width: 520px;
	margin: 0 auto;
	text-align: center;
	box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.12);
	border-radius: 7px;
	padding: 0;
	height: 100%;
}
.yellow {
	background: #fdff9a;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 10px;
}
.wrapper {
	display: flex;
	border: 2px solid white;
	margin-bottom: 30px;
}
.add-items {
	width: 100%;
	padding: 0;
	margin: 0;
}
input[type="text"] {
	width: 43%;
}
input[type="checkbox"] {
	margin-left: 16px;
}
h1,
h2 {
	color: #525252;
	font-weight: 100;
	letter-spacing: 2px;
}
input {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 15px;
}
input[type="submit"] {
	cursor: pointer;

	text-align: center;

	color: #525252;
	padding: 5px 6px;
}
/* input[type="date"]::-webkit-inner-spin-button {
	display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
} */
.add {
	width: 15%;
	color: green !important;
	font-weight: 600;
}
.clear {
	color: rgb(194, 40, 40) !important;
	font-weight: 600;
}
li {
	text-align: left;
	color: #525252;
	padding-bottom: 13px;
}

.data {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	text-align: left;
	padding: 0px 16px 30px;
}
ul {
	list-style: square;
	list-style-position: outside;
	padding-inline-start: 19px;
}
#task-container {
	padding: 10px;
}
li:before {
	content: "\1F95E";
	margin-left: -20px;
	margin-right: 10px;
}

.dates-complete {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: -16px;
}
